<div class="content">
<h1>frontend npm goodies</h1>
<a href="https://github.com/mattdesl/frontend-npm-goodies">[ source &amp; github ]</a>
<p>
Lessons/examples for creative coding, rapid prototyping, and frontend development with npm in JS. It demonstrates the strengths of modern practices like modularity, promises, functional programming, browserify, Node, ES6, etc.
</p>
<p>by <a href="https://twitter.com/mattdesl" target="_blank">@mattdesl</a></p>
</div>